*{
    background-color: grey;
    /* color: #FFFFFF; */
}


.input{
    width:100%;
    height: 50px;
	padding:3px 10px;
	border: none;
	border-radius:none;
	background-color:aliceblue;
	margin:8px 0;
	display:inline-block;
    font-size: 15px;
    color: black;
}

.textarea{
    width:100%;
	height:auto;
	border:none;
	border-radius: none;
	background-color:aliceblue;			
	margin:8px 0;
	display:block;
    font-size: 15px;
    padding:10px 10px;
    resize: both;
    color: black;
}

.button{
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: orange;
}

.centrar{
    text-align: center;
}

.color{
    color:#FFFFFF;
}